DispositivosFisicos/.env
Azure-Terraform/terraform.tfvars
Azure-Terraform/.terraform.lock.hcl
Azure-Terraform/terraform.tfstate
Azure-Terraform/.terraform
Azure-Terraform/terraform.tfstate.backup
AWS-Terraform/terraform.tfvars
AWS-Terraform/.terraform.lock.hcl
AWS-Terraform/terraform.tfstate
AWS-Terraform/terraform.tfstate.backup
AWS-Terraform/.terraform